.fav-badge {
  position: relative;
}

.fav-badge__count { 
  background-color: #ecec3c; /* Change the color to yellow */
  width: 10px; /* Make the circle smaller */
  height: 20px;
  border-radius: 99px;
  position: absolute;
  top: 0%;
  right: 0%;
  left: 70%;
  bottom: 60%;

  span {
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 500;
    position: absolute;
    font-size: 16px;
  }
}